{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "ignorePatterns": ["lib"]
}
