{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["lib"]
}
